<div>
<div class="container mx-auto text-left align-middle md:text-left text-center">

<h1>An email from your Esports friend, every Friday.</h1>
<p>Everything you need to know about Esports in a concise weekly email.
No distractions, no filling news, no bullshit. </p>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div id="mc_embed_signup" style="background: none !important;">
<form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=32b602d9ab9d238ceb45e3f05&amp;id=129b85b61b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="text-align: left !important;" novalidate>
    <div id="mc_embed_signup_scroll">
  
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_32b602d9ab9d238ceb45e3f05_129b85b61b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
<img src="#" class="logos">

<p class="text-center lg:text-left md:text-center sm:text-center">Made with coffee</p>
</div></div>